@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<body>
    <form asp-action="Register">
        <label for="name">Name:</label><br />
        <input type="text" name="name" id="name" /><br />

        <label for="surName">SurName:</label><br />
        <input type="text" name="surName" id="surName" /><br />

        <label for="email">Email:</label><br />
        <input type="email" name="email" id="email" /><br />

        <label for="password">Password:</label><br />
        <input type="password" name="password" id="password" /><br />

        <label for="phone">Phone:</label><br />
        <input type="tel" name="phone" id="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" /><br />

        <label for="age">Age:</label><br />
        <input type="date" name="birthDay" id="age" /><br />

        <input type="submit" />
    </form>
</body>
</html>