@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<body>
    <form asp-action="ChooseQuontity">
        <label for="quontity">Сколько единиц товара вы желаете заказать?</label><br />
        <input id="quontity" type="number" name="quontity" min="1" /><br />
        <input type="submit" value="Подтвердить" /><br />
    </form>
</body>
</html>